*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
.eggs
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
.DS_Store

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
.testrepository
.venv

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Complexity
output/*.html
output/*/index.html

# Sphinx
doc/build

# pbr generates these
AUTHORS
ChangeLog

# Editors
*~
.*.swp
.*sw?

# Others
*.log
*.sqlite
tenvironment
.ropeproject/

# Labs artifacts
osbash/autostart/
osbash/img/
osbash/log/
osbash/wbatch/iface_config.bat
osbash/lib/vagrant-ssh-keys/
osbash/test_tmp/
